
FinalHomework/Tema4-2/Tema4-2/bin/Debug/Tema4-2.exe
FinalHomework/Tema4-2/.vs/Tema4-2/v16/.suo
FinalHomework/Tema4-2/.vs/Tema4-2/v16/Server/sqlite3/db.lock
FinalHomework/Tema4-2/.vs/Tema4-2/v16/Server/sqlite3/storage.ide
FinalHomework/Tema4-2/Tema4-2.sln
FinalHomework/Tema4-2/Tema4-2/App.config
FinalHomework/Tema4-2/Tema4-2/bin/Debug/Tema4-2.exe.config
FinalHomework/Tema4-2/Tema4-2/bin/Debug/Tema4-2.pdb
FinalHomework/Tema4-2/Tema4-2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FinalHomework/Tema4-2/Tema4-2/obj/Debug/Tema4-2.csproj.CoreCompileInputs.cache
FinalHomework/Tema4-2/Tema4-2/obj/Debug/Tema4-2.csproj.FileListAbsolute.txt
FinalHomework/Tema4-2/Tema4-2/obj/Debug/Tema4-2.csprojAssemblyReference.cache
FinalHomework/Tema4-2/Tema4-2/obj/Debug/Tema4-2.exe
FinalHomework/Tema4-2/Tema4-2/obj/Debug/Tema4-2.pdb
FinalHomework/Tema4-2/Tema4-2/Properties/AssemblyInfo.cs
FinalHomework/Tema4-2/Tema4-2/Tema4-2.csproj
FinalHomework/Tema4-3/.vs/Tema4-3/v16/.suo
FinalHomework/Tema4-3/.vs/Tema4-3/v16/Server/sqlite3/db.lock
FinalHomework/Tema4-3/.vs/Tema4-3/v16/Server/sqlite3/storage.ide
FinalHomework/Tema4-3/Tema4-3.sln
FinalHomework/Tema4-3/Tema4-3/App.config
FinalHomework/Tema4-3/Tema4-3/bin/Debug/Tema4-3.exe
FinalHomework/Tema4-3/Tema4-3/bin/Debug/Tema4-3.exe.config
FinalHomework/Tema4-3/Tema4-3/bin/Debug/Tema4-3.pdb
FinalHomework/Tema4-3/Tema4-3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FinalHomework/Tema4-3/Tema4-3/obj/Debug/Tema4-3.csproj.CoreCompileInputs.cache
FinalHomework/Tema4-3/Tema4-3/obj/Debug/Tema4-3.csproj.FileListAbsolute.txt
FinalHomework/Tema4-3/Tema4-3/obj/Debug/Tema4-3.csprojAssemblyReference.cache
FinalHomework/Tema4-3/Tema4-3/obj/Debug/Tema4-3.exe
FinalHomework/Tema4-3/Tema4-3/obj/Debug/Tema4-3.pdb
FinalHomework/Tema4-3/Tema4-3/Properties/AssemblyInfo.cs
FinalHomework/Tema4-3/Tema4-3/Tema4-3.csproj
FinalHomework/Tema4-4/.vs/Tema4-4/v16/.suo
FinalHomework/Tema4-4/.vs/Tema4-4/v16/Server/sqlite3/db.lock
FinalHomework/Tema4-4/.vs/Tema4-4/v16/Server/sqlite3/storage.ide
FinalHomework/Tema4-4/Tema4-4.sln
FinalHomework/Tema4-4/Tema4-4/App.config
FinalHomework/Tema4-4/Tema4-4/bin/Debug/Tema4-4.exe
FinalHomework/Tema4-4/Tema4-4/bin/Debug/Tema4-4.exe.config
FinalHomework/Tema4-4/Tema4-4/bin/Debug/Tema4-4.pdb
FinalHomework/Tema4-4/Tema4-4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FinalHomework/Tema4-4/Tema4-4/obj/Debug/Tema4-4.csproj.CoreCompileInputs.cache
FinalHomework/Tema4-4/Tema4-4/obj/Debug/Tema4-4.csproj.FileListAbsolute.txt
FinalHomework/Tema4-4/Tema4-4/obj/Debug/Tema4-4.csprojAssemblyReference.cache
FinalHomework/Tema4-4/Tema4-4/obj/Debug/Tema4-4.exe
FinalHomework/Tema4-4/Tema4-4/obj/Debug/Tema4-4.pdb
FinalHomework/Tema4-4/Tema4-4/Properties/AssemblyInfo.cs
FinalHomework/Tema4-4/Tema4-4/Tema4-4.csproj
