@model IEnumerable<Tema3_ProductApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach(var item in Model)
{
    <table>
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
        </tr>
    </table>
}

